

<launch>
    <!-- 调用undistortion_scanlaunch -->
    <include file="$(find undistortion_scan)/launch/undistortion_scan_without_rviz.launch" />
    
    <!-- 启动节点 -->
    <node name="bey_slam" pkg="bey_slam" type="bey_slam" output="screen" />

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find bey_slam)/launch/bey_slam.rviz" />

</launch>
